@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-display: "Space Grotesk";
    --font-body: "DM Sans";
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-ink font-body antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
